body {
  font-family: Tahoma;
  background: #2563eb;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.box {
  background: #fff;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
}